*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

p {
    margin-bottom: 0;
}

@font-face {
    font-family: m-l;
    src: url(./image/font-montserrat/Montserrat-Light.otf) format("truetype");
}

@font-face {
    font-family: m-b;
    src: url(./image/font-montserrat/Montserrat-Black.otf) format("truetype");
}

@font-face {
    font-family: m-m;
    src: url(./image/font-montserrat/Montserrat-Medium.otf) format("truetype");
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    height: 100%;
}

header .header .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: white;
}

header .header .menu .dropdown-toggle::after {
    display: none;
}

header .header .menu .dropdown-menu {
    min-width: 10px;
}

header .header .menu a {
    text-decoration: none;
    color: black;
}

#fun {
    display: none;
}

#logo:hover #fun {
    display: block !important;
}

#logo:hover #sad {
    display: none !important;
}

.carousel-item img {
    max-height: 100vh;
    display: block !important;
    margin: auto;
}

#home-carousel .carousel-item img {
    width: auto;
    max-width: 631px;
    object-fit: cover;
    height: 100vh;
}

.carousel-control-next,
.carousel-control-prev {
    background-color: transparent;
    border: none;
    width: 50px;
    opacity: 0.2;
    filter: invert(50%);
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
    opacity: 0.2;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 1 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-caption h5 {
    background-color: #ff9900;
    color: white;
    width: fit-content;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    z-index: 10;
    margin: auto;
    margin-left: 0;
    padding: 0 10px;
    font-weight: 100;
}

.carousel-caption {
    left: 0 !important;
}

.carousel-indicators {
    bottom: 75px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: white;
}

.carousel-indicators .active {
    background-color: black;
}

.dropdown-menu.show {
    border: none;
}




.navbar .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar .content p {
    font-family: m-l;
}



.h-60 {
    height: 60% !important;
}

.h-40 {
    height: 40% !important;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.border-bottom-40::before {
    content: "";
    width: 40%;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.border-bottom-40-3rem::before {
    content: "";
    width: 40%;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 3rem;
}

.next {
    cursor: pointer;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
}

.next:hover {
    color: black;
    text-decoration: none;
}

.h1 {
    font-size: 6rem;
    font-weight: 900;
    font-family: m-b;
    line-height: 5.5rem;
}

@media only screen and (max-width: 992px) {
    .h1 {
        font-size: 3rem;
        font-weight: 900;
        font-family: m-b;
        line-height: 3.5rem;
    }
}

.pt-150 {
    padding-top: 150px;
}

.ul-right {
    text-align: right;
    list-style-position: inside;
    direction: rtl;
}

.container-customer {
    margin: 0 6%;
}

.img-8 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#more,
#them {
    display: none;
}

.lqt {
    position: relative;
    background-image: url(./image/39227304_2179614702273465_6884709224027258880_o.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.text-h1 {
    color: green;
}

.top {
    transform: translateY(-200%) !important;
}

#top {
    position: fixed;
    transform: translateY(0);
    transition: all 1s;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 100;
}

.bot {
    transform: translateY(-300%) !important;
}

#bot {
    transform: translateY(0);
    transition: all 7s;
}

.left.move {
    transform: translateX(-300%) !important;
}

.left {
    transform: translateX(0);
    transition: all 1.2s;
}

.right.move {
    transform: translateX(300%) !important;
}

.right {
    transform: translateX(0);
    transition: all 1.2s;
}

.dropdown-item {
    cursor: pointer;
}

.text-home {
    font-size: 17px;
}

.number {
    width: 150px;
    text-align: left;
    font-family: m-m;
    font-size: 4rem;
    line-height: 4rem;
}

.vn.hide,
.en.hide {
    display: none !important;
}

.name {
    font-family: m-b;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0;
}





.navbar .right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}



.project-info p,
.project-info a {
    font-size: 20px;
}

.project-info h3 {
    font-weight: 900;
    font-size: 52px;
}

.col-8-5 {
    flex: 0 0 69.1% !important;
    max-width: 69.1% !important;
}

.col-3-5 {
    flex: 0 0 calc(100% / 12 * 3.5) !important;
    max-width: calc(100% / 12 * 3.5) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.col-6.h-100.pr-0.cursor-pointer.right img,
.col-5.left img {
    object-fit: cover;
}

.ul-right li,
.col-5 .house-info {
    color: #adadac;
}

.ul-right li:hover,
.col-5 .house-info:hover {
    color: black;
}

.h_600 {
    height: 600px !important;
}

.h_450 {
    height: 450px !important;
}

.h_100 {
    height: 120px !important;
}

.img-1 img {
    height: 100% !important;
    width: 100% !important;
}

.img-8 a {
    flex: 0 0 11.5%;
    max-width: 11.5% !important;
}

.img-8 img {
    height: 100%;
    width: 100%;
    display: block;
}

.h-66 {
    height: 66% !important;
}

.h-33 {
    height: 33% !important;
}

.h_500 {
    height: 500px !important;
}

.h_1000 {
    height: 850px !important;
}

#mid-carousel .carousel-control-next,
#mid-carousel .carousel-control-prev {
    background-color: transparent;
    border: none;
    width: 10%;
}

#left-carousel img,
#right-carousel img {
    filter: grayscale(100%);
    transform: translateX(-42%);
    object-fit: cover;
}

.level {
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    left: 20px;
    z-index: 10;
    color: white;
}

.level span:first-child {
    font-size: 40px;
    font-weight: 700;
}

.level span:last-child {
    border-left: 1px solid white;
    font-weight: 400;
    letter-spacing: 3px;
    margin-left: 15px;
    padding-left: 10px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000000;
    display: none;
}

.stair {
    position: absolute;
    text-transform: uppercase;
    bottom: 200px;
    right: 20px;
    z-index: 10;
    color: white;
    text-align: right;
}

.stair span:first-child {
    font-size: 40px;
    font-weight: 700;
    display: block;
}

.stair span:last-child {
    font-weight: 400;
    letter-spacing: 5px;
}

.common {
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    left: 20px;
    z-index: 10;
    color: white;
}

.common span:first-child {
    font-size: 40px;
    font-weight: 700;
    display: block;
}

.common span:last-child {
    font-weight: 400;
    letter-spacing: 5px;
}

.mezzanine {
    position: absolute;
    text-transform: uppercase;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    color: white;
}

.mezzanine span:first-child {
    font-size: 40px;
    font-weight: 700;
    display: block;
}

.mezzanine span:last-child {
    font-weight: 400;
    letter-spacing: 5px;
}

.rooftop {
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    left: 20px;
    z-index: 10;
    color: white;
}

.rooftop span:first-child {
    font-size: 40px;
    font-weight: 700;
    display: block;
}

.rooftop span:last-child {
    font-weight: 400;
    letter-spacing: 5px;
}

#go-back {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.house-item {
    position: fixed;
    bottom: 0px;
    left: 500px;
    font-size: 5rem;
    font-weight: 900;
    line-height: 5rem;
    color: gray;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.house-item span {
    color: gray;
    font-size: 16px;
    font-weight: bolder;
    text-transform: none;
    line-height: 32px;
    opacity: 0.5;
}

.h1.left {
    transition: all .8s !important;
}

.fa-globe {
    font-size: 30px;
}

#mid-carousel img {
    max-width: 100%;
}

#mobile-carousel,

#mobile-carousel .carousel-inner {
    height: 100%;
}

.carousel-inner {
    display: flex;
    align-items: center;
}

#mobile-carousel .carousel-item img {
    height: 510px;
    width: 334px;
    object-fit: cover;
}

#mobile-carousel .carousel-item a {
    text-align: center;
}

#mobile-carousel .carousel-caption {
    bottom: 100px;
    width: 100%;
}

#mobile-carousel .carousel-caption h5 {
    margin: 0 auto;
}

.fb {
    display: block;
    text-decoration: none;
    color: #000;
}

.fb:hover {
    color: #000;
    text-decoration: none;
}

.right-carousel,
.mid-carousel,
.left-carousel img {
    height: 100%;
}

@media screen and (max-width: 992px) {
    .h-100.d-flex {
        height: auto !important;
    }

    .project-info a {
        color: #000;
        text-decoration: none;
    }

    .project-info {
        margin-bottom: 20px;
    }

    .top {
        transform: translateY(0) !important;
    }

    .left.move {
        transform: none !important;
    }

    .project-carousel {
        display: block !important;
    }

    .project-carousel #mobile-carousel .carousel-caption {
        color: black;
        background-color: rgba(255, 255, 255, 0.3);
        bottom: 0px;
        padding-top: 0;
        padding-bottom: 60px;
        transition: all 0.5s;
    }

    .project-carousel.move #mobile-carousel .carousel-caption {
        bottom: -200px;
        transition: all 0.5s;

    }

    .project-carousel .carousel-indicators {
        bottom: 20px;
        transition: all 0.5s;
    }

    .project-carousel.move .carousel-indicators {
        bottom: -180px;
        transition: all 0.5s;
    }

}

/* start phone */
.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}

.hotline-phone-ring-circle {
    width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #cccccc;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
    width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: #cccccc;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
    background-color: #cccccc;
    width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px;
}

.hotline-bar {
    position: absolute;
    background: transparent;
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    border: 1px dashed #000;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
}

.hotline-bar>a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
}

.hotline-bar>a:hover,
.hotline-bar>a:active {
    color: #000;
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }

    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.6;
    }

    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@media (max-width: 768px) {
    .hotline-bar {
        display: none;
    }
}

/* end phone */

.float-icon-hotline {
    display: block;
    width: 40px;
    position: fixed;
    bottom: 85px;
    left: 33px;
    z-index: 999999;
}


.float-icon-hotline ul {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

.float-icon-hotline ul li {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.float-icon-hotline ul li a#messengerButton {
    padding: 0px !important;
    background: transparent !important;
    border: 0px !important;
}

@media only screen and (min-width: 960px) {
    .float-icon-hotline ul li .fa {
        background-size: contain !important;
    }
}

.float-icon-hotline ul li .fa-phone {
    background-color: #ed1c24;
}

.float-icon-hotline ul li .fa {
    background-color: #ed1c24;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.tada {
    animation-name: tada;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.float-icon-hotline ul li span {
    display: inline-block;
    padding: 0;
    background-color: #ff6a00;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 0;
    width: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color: #ff6a00;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
}

ul.left-icon.hotline {
    margin-left: 0px !important;
}


.float-icon-hotline ul li .fa-zalo {
    background: url(https://netweb.vn/img/hotline/zalo.png) center center no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.float-icon-hotline ul li .fa-zalo:hover {
    background: #ef0303 url(https://netweb.vn/img/hotline/zalo.png) center center no-repeat;
    opacity: .5;
    filter: grayscale(100%);
}

.float-icon-hotline ul li .fa-messenger {
    background: url(https://netweb.vn/img/hotline/fb.png) center center no-repeat;
}

.float-icon-hotline ul li .fa-messenger:hover {
    background: #168efb url(https://netweb.vn/img/hotline/fb.png) center center no-repeat;
    opacity: .5;
}

.language {
    height: 50px;
    align-items: center;
    display: flex;
}

.youtube {
    width: 710px;
    height: 398px;
}

#mobile-fun,
#mobile-sad,
.mobile-content-carousel {
    display: none;
}

.mobile-top {
    transform: translateY(-200%);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 3s;
    background-color: white;
}

#mobile-top {
    transform: translateY(0) !important;
}

.link a {
    text-decoration: underline;
    font-size: 12px;
    display: block;
}

.link a:hover {
    text-decoration: none;
}

@media screen and (max-width: 992px) {

    .mobile-top,
    #top {
        height: 70px !important;
    }

    .dropdown.d-flex.d-lg-none {
        margin-right: 0 !important;
    }

    .pt-150 {
        padding-top: 105px;
    }

    .project-info h3 {
        font-weight: 900;
        font-size: 35px;
    }

    .mobile-body {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        overflow: hidden;
    }

    .mobile-top .h1 {
        font-size: 1.5rem !important;
        margin-bottom: 0
    }

    #mobile-top {
        width: 100%;
        height: 80px !important;
        top: 0;
        left: 0;
        z-index: 10000;
        padding-top: 15px;
    }

    #mobile-top.mobile-home {
        padding-top: 0 !important;
        height: 45px !important;
    }

    .hotline-phone-ring-wrap.project-page {
        bottom: 40px;
    }

    .float-icon-hotline.project-page {
        bottom: 125px;
    }

    .mobile-team-carousel #mobile-carousel .carousel-indicators {
        top: 400px;
    }

    .number {
        padding-left: 20px;
    }

    .mobile-team-carousel {
        padding-top: 85px !important;
    }

    .mobile-team-carousel .carousel-item {
        height: 850px;
    }

    .youtube {
        width: 360px;
        height: 203px;
    }
}


.mobile-content {
    margin-top: 40%;
}

.mobile-content #logo {
    margin-bottom: 10%;
}

.btn:focus {
    box-shadow: none;
}

#mobile-menu {
    position: fixed;
    top: 0px;
    right: -200px;
    width: 150px;
    height: 100vh;
    z-index: 90;
    padding-top: 120px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all .5s;
}

#mobile-menu.open {
    right: 0;
    transition: all .5s;
}


.project-detail {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 50px;
}